USE [master]
GO
/****** Object:  Database [ClassroomMappingDB]    Script Date: 3/13/2026 10:25:24 AM ******/
CREATE DATABASE [ClassroomMappingDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ClassroomMappingDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLSERVER25\MSSQL\DATA\ClassroomMappingDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ClassroomMappingDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLSERVER25\MSSQL\DATA\ClassroomMappingDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ClassroomMappingDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ClassroomMappingDB]
GO
/****** Object:  Table [dbo].[CourseSections]    Script Date: 3/13/2026 10:25:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CourseSections](
	[SectionID] [int] IDENTITY(1,1) NOT NULL,
	[CourseCode] [varchar](20) NOT NULL,
	[YearLevel] [varchar](5) NOT NULL,
	[Section] [varchar](5) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SectionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Instructors]    Script Date: 3/13/2026 10:25:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Instructors](
	[InstructorID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NULL,
	[Name] [varchar](100) NOT NULL,
	[Qualifications] [varchar](50) NOT NULL,
	[Position] [varchar](50) NOT NULL,
	[YearsExperience] [int] NOT NULL,
	[HEA] [bit] NOT NULL,
	[Department] [nvarchar](255) NULL,
	[CourseCode] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[InstructorID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Schedules]    Script Date: 3/13/2026 10:25:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Schedules](
	[ScheduleID] [int] IDENTITY(1,1) NOT NULL,
	[RoomNo] [varchar](20) NOT NULL,
	[TimeSlot] [varchar](20) NOT NULL,
	[DayType] [varchar](10) NOT NULL,
	[SubjectCode] [varchar](20) NOT NULL,
	[CourseSection] [varchar](30) NOT NULL,
	[InstructorName] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ScheduleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Subjects]    Script Date: 3/13/2026 10:25:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Subjects](
	[SubjectID] [int] IDENTITY(1,1) NOT NULL,
	[Code] [varchar](20) NOT NULL,
	[Description] [varchar](100) NOT NULL,
	[Units] [int] NOT NULL,
	[CourseCode] [varchar](20) NOT NULL,
	[YearLevel] [varchar](5) NOT NULL,
	[Section] [varchar](5) NOT NULL,
	[AddedByUserID] [int] NOT NULL,
	[AssignedInstructorID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[SubjectID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserAccounts]    Script Date: 3/13/2026 10:25:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserAccounts](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[Username] [varchar](50) NOT NULL,
	[Password] [varchar](100) NOT NULL,
	[Role] [varchar](20) NOT NULL,
	[FullName] [varchar](100) NOT NULL,
	[Email] [varchar](100) NOT NULL,
	[Phone] [varchar](20) NOT NULL,
	[LinkedInstructorID] [int] NULL,
	[CourseCode] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[CourseSections] ON 

INSERT [dbo].[CourseSections] ([SectionID], [CourseCode], [YearLevel], [Section]) VALUES (1, N'BSIT', N'1', N'A')
INSERT [dbo].[CourseSections] ([SectionID], [CourseCode], [YearLevel], [Section]) VALUES (2, N'BSIT', N'1', N'B')
INSERT [dbo].[CourseSections] ([SectionID], [CourseCode], [YearLevel], [Section]) VALUES (3, N'BSBAMM', N'1', N'A')
SET IDENTITY_INSERT [dbo].[CourseSections] OFF
GO
SET IDENTITY_INSERT [dbo].[Instructors] ON 

INSERT [dbo].[Instructors] ([InstructorID], [UserID], [Name], [Qualifications], [Position], [YearsExperience], [HEA], [Department], [CourseCode]) VALUES (4, 16, N'Romeo T. Balingao', N'Master in Information Technology (MIT)', N'Coordinator', 10, 1, N'Bachelor of Science in Information Technology', N'BSIT')
INSERT [dbo].[Instructors] ([InstructorID], [UserID], [Name], [Qualifications], [Position], [YearsExperience], [HEA], [Department], [CourseCode]) VALUES (6, 33, N'Jimmy Velasco', N'Master''s Degree', N'Instructor', 9, 1, N'Bachelor of Science in Information Technology', N'BSIT')
INSERT [dbo].[Instructors] ([InstructorID], [UserID], [Name], [Qualifications], [Position], [YearsExperience], [HEA], [Department], [CourseCode]) VALUES (7, 34, N'Hillary Joy Rufino', N'PhD in Education', N'Coordinator', 9, 1, N'Bachelor of Secondary Education (BSEd) — Major in English', N'BSEd')
SET IDENTITY_INSERT [dbo].[Instructors] OFF
GO
SET IDENTITY_INSERT [dbo].[Schedules] ON 

INSERT [dbo].[Schedules] ([ScheduleID], [RoomNo], [TimeSlot], [DayType], [SubjectCode], [CourseSection], [InstructorName]) VALUES (6, N'101', N'7:30-8:30', N'TTH', N'IT102', N'BSIT1-A', N'Jimmy Velasco')
SET IDENTITY_INSERT [dbo].[Schedules] OFF
GO
SET IDENTITY_INSERT [dbo].[Subjects] ON 

INSERT [dbo].[Subjects] ([SubjectID], [Code], [Description], [Units], [CourseCode], [YearLevel], [Section], [AddedByUserID], [AssignedInstructorID]) VALUES (15, N'ITPC 311', N'Advance Database Management System', 3, N'BSIT', N'2', N'', 32, 4)
INSERT [dbo].[Subjects] ([SubjectID], [Code], [Description], [Units], [CourseCode], [YearLevel], [Section], [AddedByUserID], [AssignedInstructorID]) VALUES (16, N'ITPC 312', N'System Integration and Architectures 1', 3, N'BSIT', N'2', N'', 32, 4)
INSERT [dbo].[Subjects] ([SubjectID], [Code], [Description], [Units], [CourseCode], [YearLevel], [Section], [AddedByUserID], [AssignedInstructorID]) VALUES (17, N'IT101', N'Introduction to Computing', 3, N'BSIT', N'1', N'A', 32, 5)
SET IDENTITY_INSERT [dbo].[Subjects] OFF
GO
SET IDENTITY_INSERT [dbo].[UserAccounts] ON 

INSERT [dbo].[UserAccounts] ([UserID], [Username], [Password], [Role], [FullName], [Email], [Phone], [LinkedInstructorID], [CourseCode]) VALUES (16, N'romeo', N'404fa1edd74e27ec9c1c49a66f0a31ab40036fc39f146daffd1db1097ead9485', N'Instructor', N'Romeo Balingao', N'romeo@school.edu.ph', N'0987654321', NULL, N'')
INSERT [dbo].[UserAccounts] ([UserID], [Username], [Password], [Role], [FullName], [Email], [Phone], [LinkedInstructorID], [CourseCode]) VALUES (32, N'admin', N'240be518fabd2724ddb6f04eeb1da5967448d7e831c08c8fa822809f74c720a9', N'Admin', N'System Administrator', N'admin@school.edu', N'', NULL, N'')
INSERT [dbo].[UserAccounts] ([UserID], [Username], [Password], [Role], [FullName], [Email], [Phone], [LinkedInstructorID], [CourseCode]) VALUES (33, N'jimmy', N'c0fcbe3f82b21713459fe7b4774ba1ed6cb46d24ca156a5b2b083ca30eade34e', N'Instructor', N'Jimmy Velasco', N'jimmy@school.edu.ph', N'01234567891', NULL, N'')
SET IDENTITY_INSERT [dbo].[UserAccounts] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__UserAcco__536C85E4CD3C93D4]    Script Date: 3/13/2026 10:25:24 AM ******/
ALTER TABLE [dbo].[UserAccounts] ADD UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Instructors] ADD  DEFAULT ((0)) FOR [YearsExperience]
GO
ALTER TABLE [dbo].[Instructors] ADD  DEFAULT ((0)) FOR [HEA]
GO
ALTER TABLE [dbo].[Subjects] ADD  DEFAULT ((0)) FOR [AddedByUserID]
GO
ALTER TABLE [dbo].[UserAccounts] ADD  DEFAULT ('') FOR [Phone]
GO
ALTER TABLE [dbo].[UserAccounts] ADD  DEFAULT ((0)) FOR [LinkedInstructorID]
GO
ALTER TABLE [dbo].[UserAccounts] ADD  DEFAULT ('') FOR [CourseCode]
GO
ALTER TABLE [dbo].[Instructors]  WITH CHECK ADD  CONSTRAINT [FK__Instructo__UserI__44FF419A] FOREIGN KEY([UserID])
REFERENCES [dbo].[UserAccounts] ([UserID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Instructors] CHECK CONSTRAINT [FK__Instructo__UserI__44FF419A]
GO
USE [master]
GO
