<?xml version="1.0" encoding="utf-8"?>
<configuration>

	<connectionStrings>
		<add name="ClassroomMappingDB"
			 connectionString="Data Source=NODE25\SQLSERVER25;Initial Catalog=ClassroomMappingDB;Integrated Security=True"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>

	<system.web>
		<compilation debug="true" targetFramework="4.8" />
		<httpRuntime targetFramework="4.8" />

		<pages controlRenderingCompatibilityVersion="4.0">
			<namespaces>
				<add namespace="System.Linq" />
			</namespaces>
		</pages>

		<!-- Session timeout: 30 minutes of inactivity logs the user out.
			  cookieless="false"  → session ID stored in cookie, not URL.
			  httpOnlyCookies     → blocks JS from reading the session cookie (XSS protection). -->
		
		<sessionState
		  timeout="30"
		  cookieless="false"
		  mode="InProc" />

		<!-- httpOnlyCookies: prevents JavaScript from accessing the session cookie.
				requireSSL:      set to true when you deploy to HTTPS in production. -->
		
		<httpCookies httpOnlyCookies="true" requireSSL="true" />
	</system.web>

	<system.webServer>
		<defaultDocument>
			<files>
				<clear />
				<add value="Login.aspx" />
			</files>
		</defaultDocument>
	</system.webServer>

	<appSettings>
		<add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
	</appSettings>

</configuration>